<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="5.0">
  <display-name>Blog</display-name>
  <error-page>
    <error-code>500</error-code>
    <location>/500.html</location>
  </error-page>
  <error-page>
    <error-code>404</error-code>
    <location>/404.html</location>
  </error-page>
  <context-param>
    <param-name>APP_NAME</param-name>
    <param-value>Blog Dev</param-value>
  </context-param>
  <context-param>
    <param-name>EMAIL_CONTACT</param-name>
    <param-value>test@gmail.com</param-value>
  </context-param>
  <filter>
    <display-name>GuardAuthFilter</display-name>
    <filter-name>GuardAuthFilter</filter-name>
    <filter-class>filter.GuardAuthFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>GuardAuthFilter</filter-name>
    <url-pattern>/GuardAuthFilter</url-pattern>
  </filter-mapping>
</web-app>